# ems-backend/requirements.txt

fastapi
uvicorn[standard]
pydantic[email]
python-jose[cryptography]
passlib==1.7.4
python-dotenv
tensorflow
scikit-learn
pandas
bcrypt
tensorflow
scikit-learn
pandas
xgboost